@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A1Model
@{
    Layout = "_LayoutForm";
    ViewData["Title"] = "A1: Participant Demographics";
}

<h2>A1</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    @Html.LabelFor(model => model.A1.REASON)
    <input asp-for="A1.REASON" />
</div>

<div class="form-group">
    @Html.LabelFor(model => model.A1.REFERSC)
    <input asp-for="A1.REFERSC" />
</div>

<div class="form-group">
    @Html.LabelFor(model => model.A1.LEARNED)
    <input asp-for="A1.LEARNED" />
</div>