@page "{id:int?}"
@model UDS.Net.Forms.Areas.Visits.Pages.EditModel
@{
}

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}