@{
    Layout = "_Layout";
}

<div class="">
    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

        <aside class="py-6 lg:col-span-3">
            <nav class="space-y-1">

                @if (Model.Visit != null && Model.Visit.Forms != null)
                {
                    <partial name="_NavSidebarForms" model="@Model.Visit" />
                }

            </nav>
        </aside>


        <main class="divide-y divide-gray-200 lg:col-span-9 px-5 py-6">
            @RenderBody()
        </main>

    </div>
</div>

