@{
    Layout = "_Layout";
}

<div class="">
    <div class="mx-auto sm:px-6 lg:grid lg:grid-cols-12 lg:gap-8 lg:px-8">
        <div class="hidden lg:col-span-3 lg:block xl:col-span-2">
            <nav aria-label="Sidebar" class="sticky top-6 divide-y divide-gray-300">
                <partial name="_VisitMenu" />
            </nav>
        </div>
        <main class="lg:col-span-9 xl:col-span-6">
            @RenderBody()
        </main>
        <aside class="hidden xl:col-span-4 xl:block">
            <div class="sticky top-6 space-y-4">
                Right side
            </div>
        </aside>
    </div>
</div>

